.p-button-xs {

    &.p-button {
        padding: 2px 8px;

        &.p-button-icon-only {
            padding: 2px 5px;
            width: 27px;
            margin-left: 3px;

            &.p-button-text {
                font-size: 18px;
            }
        }
    }
}

button.btn-icon-only {
    background-color: inherit;
    color: #42526E;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 3px;

    span {
        font-size: 16px;
    }

    &:hover {
        background-color: rgba(9, 30, 66, 0.08)
    }
}

.w-100pr {
    width: 100%;
}